html { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    width: 8000px;
    margin: 0;
    padding: 0;
}
.panel { 
    display: table;
    height: 100%;
    float: left;
    padding-right: 1040px;
    padding-top: 45px;
    margin: 0 auto;
}

.centered {
    display: table-cell;
    top: 50%;
    transform: translate&(-50%);
    vertical-align: middle;
    text-align: center;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 50%;*/
    margin: 0 auto;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
}
.logo .logo-thin {
    font-weight: 100
}

.logo .logo-bold{
    font-weight: 900
}

.logo .divider{
    font-weight: 300
}
 
